@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.slide-up {
  animation: slideUp 1s forwards; 
}


.animate-on-scroll {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}



.img{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.img:hover{
  background-color: inherit;
  transform: scale(1.1);
  
}




