@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Add the animation to the element */
.slide-up {
  animation: slideUp 1s forwards; /* Apply the slide-up animation */
}


.animate-on-scroll {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}



.img{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.img:hover{
  background-color: inherit;
  transform: scale(1.1);
  
}

/* Define the keyframes for the slide-up animation */


