/* .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: inherit;
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  transition: background 0.3s;
}

.sidebar a:hover {
  background-color: #555;
}

.sidebar a .svg-inline--fa {
  margin-right: 8px;
}

.toggle-button {
  position: fixed;
  top: 20px; 
  left: 20px; 
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  z-index: 1000; 
}

.toggle-button:hover {
  background-color: #0056b3;
}

.close-button {
  background-color: black; 
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px; 
  display: block;
  z-index: 1000; 
}


.close-button:hover {
  background-color: #6a23c8; 
}


@media(max-width:693px){
     .toggle-button{
      margin-top: 10%
     }
} */