.main{
  width:96rem;
  /*background-image: url('./trial.png');*/
  background: linear-gradient(135deg, #0d0d0d, #1a1a40, #753375, #1a1a40, #0d0d0d);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-size: 300% 300%;
  animation: gradientAnimation 12s ease infinite;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}