.main{
  width:96rem;
  background-image: url('./Screenshot2024-10-30-210229.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}

h1{
    font-size: 48px; 
    font-weight: bold;
    background: linear-gradient(to bottom, rgb(25, 88, 197) 30%, #000000 100%);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 

}

button{
  border-image: linear-gradient(45deg, #3a33ff, #ee00ff) 1;
}

